<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    <a href="<%= link %>" class="logo d-flex align-items-center">
      <img src="<%= link %>/<%= header == 'valves' ? element.valveLogo.image : element.mainLogo.image %>" alt="" />
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list text-primary"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x text-secondary"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="<%= link %>" class="<%= header == 'home' ? 'active' : '' %>">
            <%= element.navbar.home %>
          </a></li>
        <li><a href="<%= link %>/about" class="<%= header == 'about' ? 'active' : '' %>">
            <%= element.navbar.aboutUs %>
          </a></li>
        <li><a href="<%= link %>/turnkey" class="<%= header == 'turnkey' ? 'active' : '' %>">
            <%= element.navbar.turnkey %>
          </a></li>
        <li><a href="<%= link %>/product" class="<%= header == 'product' ? 'active' : '' %>">
            <%= element.navbar.productRange %>
          </a></li>
        <li><a href="<%= link %>/valves" class="<%= header == 'valves' ? 'active' : '' %>">
            <%= element.navbar.kurversValves %>
          </a></li>
        <li><a href="<%= link %>/quality" class="<%= header == 'quality' ? 'active' : '' %>">
            <%= element.navbar.quality %>
          </a></li>
        <li><a href="<%= link %>/career" class="<%= header == 'career' ? 'active' : '' %>">
            <%= element.navbar.careers %>
          </a></li>

        <li class="contact">
          <a href="<%= link %>/contact" class="<%= header.route == 'contact' ? 'active' : '' %>"
            style="color: white; font-weight: 500">
            <%= element.navbar.contactUs %>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>