<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs', { header: "about" }) %>
      <section class="main-banner-about" data-aos="fade-in" data-aos-delay="200">
        <div class="text-overlay row align-items-center p-4">
          <div class="col-md-1 d-none d-md-block"></div>
          <div class="col-md-7 text-start" data-aos="fade-right" data-aos-delay="200">
            <!-- <h1 class="heading">A legacy of <span class="text-secondary">excellence</span></h1> -->

            <!-- <span class="heading"> -->
            <%- banner.heading %>
              <!-- </span> -->
              <%- banner.subHeading %>
          </div>
        </div>
      </section>

      <section class="about-us">
        <div class="container">
          <div class="row">
            <div class="col-md-6" data-aos="fade-right" data-aos-delay="200">
              <h3 class="text-primary fw-bold mb-3 underline-alt fs-1 ls-1">
                <%- about.heading %>
                  <!-- <span
                class="underline position-absolute start-0 text-black-50"
              ></span> -->
              </h3>
              <div class="pt-4">
                <%- about.subHeading %>
              </div>
            </div>
            <div class="col-md-1 d-none d-md-block"></div>
            <div class="col-md-5 pt-4" data-aos="fade-left" data-aos-delay="200">
              <img src="<%= link %>/<%= about.image %>" alt="About Us Image" class="img-fluid rounded" />
            </div>
          </div>
        </div>
      </section>
      <section class="bg-light">
        <div class="container">
          <div class="row justify-content-center g-4">
            <div class="col-md-12 text-center">
              <h3 class="text-primary fw-bold mb-3 underline-alt fs-1" data-aos="fade-down" data-aos-delay="200">Why Us
              </h3>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="about-us-content-box">
                <div class="logo-circle">
                  <img src="<%= link %>/uploads/assets/NewSet/Icons/EXCELLENCE.png" alt="Logo" />
                  <!-- Replace with your logo -->
                </div>
                <h4 class="text-center font-style-secondary fw-bold">Excellence</h4>
                <p>
                  <%= whyUs.excellence %>
                </p>
              </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="about-us-content-box">
                <div class="logo-circle">
                  <img src="<%= link %>/uploads/assets/NewSet/Icons/QUALITY.png" alt="Logo" />
                  <!-- Replace with your logo -->
                </div>
                <h3 class="text-center font-style-secondary fw-bold">Quality</h3>
                <p>
                  <%= whyUs.quality %>
                </p>
              </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="about-us-content-box">
                <div class="logo-circle">
                  <img src="<%= link %>/uploads/assets/NewSet/Icons/EXPERIANCE.png" alt="Logo" />
                  <!-- Replace with your logo -->
                </div>
                <h3 class="text-center font-style-secondary fw-bold">Experience</h3>
                <p>
                  <%= whyUs.experience %>
                </p>
              </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="about-us-content-box">
                <div class="logo-circle">
                  <img src="<%= link %>/uploads/assets/NewSet/Icons/INTEGRITY.png" alt="Logo" />
                  <!-- Replace with your logo -->
                </div>
                <h3 class="text-center font-style-secondary fw-bold">Integrity</h3>
                <p>
                  <%= whyUs.integrity %>
                </p>
              </div>
            </div>
            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="about-us-content-box">
                <div class="logo-circle">
                  <img src="<%= link %>/uploads/assets/NewSet/Icons/COLLABORATION.png" alt="Logo" />
                  <!-- Replace with your logo -->
                </div>
                <h3 class="text-center font-style-secondary fw-bold">Collaboration</h3>
                <p>
                  <%= whyUs.collaboration %>
                </p>
              </div>
            </div>

            <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
              <div class="about-us-content-box">
                <div class="logo-circle">
                  <img src="<%= link %>/uploads/assets/NewSet/Icons/CUSTOMER-FOCUS.png" alt="Logo" />
                  <!-- Replace with your logo -->
                </div>
                <h3 class="text-center font-style-secondary fw-bold">Customer Focus</h3>
                <p>
                  <%= whyUs.customerFocus %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <%- include('partials/footer') %>

        <!-- <div id="preloader"></div> -->

        <!-- Vendor JS Files -->
        <script src="<%= link %>/uploads/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/aos/aos.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="<%= link %>/uploads/assets/js/main.js"></script>
  </body>

</html>