<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs', { header: "product" }) %>
      <!-- <section class="hero-section">
      <div class="overlay">
        <div class="text-container">
          <h1>Your partner for <br /><span>SUCCESS</span></h1>
          <p>Process Piping, Offshore, Pipelines</p>
          <a href="#" class="cta-button">Call to action goes here</a>
        </div>
      </div>
    </section> -->

      <section class="main-banner-product-range" data-aos="fade-in" data-aos-delay="200"
        style="background-image: linear-gradient(to right, #1f2d3c 15%, #1f38553d 90%), url('<%- banner.image %>');">
        <div class="text-overlay row align-items-center p-4">
          <div class="col-md-1 d-none d-md-block"></div>
          <div class="col-md-7 text-start" data-aos="fade-right" data-aos-delay="200">
            <h1 class="heading"><%- banner.heading %></h1>
            <p class="sub-heading">
              <%- banner.subHeading %>
            </p>
          </div>
        </div>
      </section>

      <section class="about-us">
        <div class="container">
          <div class="row">
            <div class="col-md-4 px-4 mb-4">
              <% const imgSet=imageSet.slice(0,2); %>
                <% imgSet.forEach((items)=> { %>
                  <img src="<%= link %>/<%= items.image %>" alt="About Us Image" class="img-fluid rounded mb-4"
                    data-aos="fade-right" data-aos-delay="200" />
                  <% }); %>
            </div>
            <div class="col-md-8 px-4" data-aos="fade-left" data-aos-delay="200">
              <% const selectedEntries=products.slice(0, 2); %>
                <% selectedEntries.forEach((items)=> { %>
                  <% if (Array.isArray(items.points) && items.points.length> 0) { %>
                    <!-- If items is a list -->
                    <div>
                      <h3 class="text-primary fw-bold mb-1 mt-2 underline-alt ls-1">
                        <%= items.heading %>
                      </h3>
                      <ul class="custom-list mt-3 fs-6">
                        <% items.points.forEach((item)=> { %>
                          <li>
                            <img src="<%= link %>/<%= element.bulletinLogo.image %>" width="25px" class="me-4" />
                            <%= item %>
                          </li>
                          <% }); %>
                      </ul>
                    </div>
                    <% } else { %>
                      <!-- If items is not a list -->
                      <a href="<%= items.link %>" class="pb-4">
                        <h3 class="text-primary fw-bold mb-1 mt-2 underline-alt ls-1">
                          <%= items.heading %> <i class="ml-2 fa fa-arrow-right-long"></i>
                        </h3>
                      </a>
                      <% } %>
                        <% }); %>

            </div>
            <div class="col-md-8 px-4" data-aos="fade-left" data-aos-delay="200">
              <% const selectedEntries2=products.slice(2, 4); %>
                <% selectedEntries2.forEach((items)=> { %>
                  <% if (Array.isArray(items.points) && items.points.length> 0) { %>
                    <!-- If items is a list -->
                    <div>
                      <h3 class="text-primary fw-bold mb-1 mt-2 underline-alt ls-1">
                        <%= items.heading %>
                      </h3>
                      <ul class="custom-list mt-3 fs-6">
                        <% items.points.forEach((item)=> { %>
                          <li>
                            <img src="<%= link %>/<%= element.bulletinLogo.image %>" width="25px" class="me-4" />
                            <%= item %>
                          </li>
                          <% }); %>
                      </ul>
                    </div>
                    <% } else { %>
                      <!-- If items is not a list -->
                      <a href="<%= items.link %>" class="pb-4">
                        <h3 class="text-primary fw-bold mb-1 mt-2 underline-alt ls-1">
                          <%= items.heading %> <i class="ml-2 fa fa-arrow-right-long"></i>
                        </h3>
                      </a>
                      <% } %>
                        <% }); %>

            </div>
            <div class="col-md-4 px-4">

              <% const imgSet2=imageSet.slice(2,4); %>
                <% imgSet2.forEach((items)=> { %>
                  <img src="<%= link %>/<%= items.image %>" alt="About Us Image" class="img-fluid rounded mb-4"
                    data-aos="fade-right" data-aos-delay="200" />
                  <% }); %>
            </div>
          </div>
        </div>
      </section>

      <%- include('partials/footer') %>

        <!-- <div id="preloader"></div> -->

        <!-- Vendor JS Files -->
        <script src="<%= link %>/uploads/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/aos/aos.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="<%= link %>/uploads/assets/js/main.js"></script>
  </body>

</html>