<!doctype html>
<html lang="en">
<%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs', { header: "turnkey" }) %>
      <section class="main-banner-turnkey" data-aos="fade-in" data-aos-delay="200">
        <div class="text-overlay row align-items-center p-4">
          <div class="col-md-1 d-none d-md-block"></div>
          <div class="col-md-7 text-start" data-aos="fade-right" data-aos-delay="200">
            <h1 class="heading"><%- banner.heading %></h1>
            <p class="sub-heading">
              <%- banner.subHeading %>
            </p>
          </div>
        </div>
      </section>
      <section>
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8 bg-white text-dark p-4">
            <div class="text-center" data-aos="fade-in" data-aos-delay="200">
              <p class="">
                <%- section1 %>
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="container-fluid bg-dark text-white py-5 position-relative"
        style="background-image: url('<%= link %>/uploads/assets/NewSet/Turnkey2.png'); background-size: cover; background-position: center">
        <div class="container py-5" data-aos="fade-in" data-aos-delay="500">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-10 bg-white text-dark p-4 rounded shadow">
              <h3 class="text-primary mb-3 fw-bold ls-1 text-center p-4 fs-3 font-style-secondary">
                <%- section2 %>
              </h3>
            </div>
          </div>
        </div>
      </section>

      <section class="about-us">
        <div class="container">
          <div class="row">
            <div class="col-md-6" data-aos="fade-right" data-aos-delay="200">
              <h3 class="text-primary fw-bold mb-3 underline-alt fs-1 ls-2">
                Unrivalled Quality
                <!-- <span
                class="underline position-absolute start-0 text-black-50"
              ></span> -->
              </h3>
              <div class="turnkey-content-header">
                <%- turnkey.heading %>
              </div>


              <p class="pt-4">
                <%- turnkey.subHeading %>
              </p>
            </div>
            <div class="col-md-1 d-none d-md-block"></div>
            <div class="col-md-5" data-aos="fade-left" data-aos-delay="200">
              <img src="<%= link %>/uploads/assets/NewSet/Home9-4.png" alt="About Us Image" class="img-fluid rounded" />
            </div>
          </div>
        </div>
      </section>

      <%- include('partials/footer') %>

        <div id="preloader"></div>

        <!-- Vendor JS Files -->
        <script src="<%= link %>/uploads/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/aos/aos.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="<%= link %>/uploads/assets/js/main.js"></script>
  </body>

</html>