<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/header.ejs', { header: "valves" }) %>
      <!-- <section class="hero-section">
      <div class="overlay">
        <div class="text-container">
          <h1>Your partner for <br /><span>SUCCESS</span></h1>
          <p>Process Piping, Offshore, Pipelines</p>
          <a href="#" class="cta-button">Call to action goes here</a>
        </div>
      </div>
    </section> -->

      <!-- <section
      class="main-banner-product-range"
      data-aos="fade-in"
      data-aos-delay="200"
    >
      <div class="text-overlay row align-items-center p-4">
        <div class="col-md-1 d-none d-md-block"></div>
        <div
          class="col-md-7 text-start"
          data-aos="fade-right"
          data-aos-delay="200"
        >
          <h1 class="heading">Product Range</h1>
          <p class="sub-heading">
            Kurvers can supply both standard materials from stock or, where
            required, we can arrange for materials to be manufactured strictly
            in accordance with your project's individual needs.
          </p>
        </div>
      </div>
    </section> -->

      <div class="position-relative h-100">
        <div class="slides-1 portfolio-details-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <!-- Slide 0 -->
            <% banner.forEach(slide=> { %>
              <div class="swiper-slide" data-aos="fade-in" data-aos-delay="200">
                <div class="slide-content">
                  <img src="<%= link %>/<%= slide.image %>" alt=""
                    style="width: 100%; height: 100vh; object-fit: cover" />
                  <div class="gradient-overlay"></div>
                  <div class="overlay-text">
                    <!-- <h1>YOUR PARTNER FOR <span class="highlight">SUCCESS</span></h1>
                <p>Kürvers Valves</p> -->
                    <!-- <a href="product-range.html" class="btn btn-custom"
                  >Find Out More</a
                > -->
                    <%- slide.heading %>
                      <%- slide.subHeading %>

                  </div>
                </div>
              </div>
              <% }); %>
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <!-- <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> -->
      </div>

      <!-- <section style="padding-bottom: 0">
      <div class="scrollable-row" id="scrollableRow">
        <div class="col-9 col-md-5 rounded">
          <img src="<%= link %>/uploads/assets/NewSet/valves/4.png" />
        </div>
        <div class="col-9 col-md-5 rounded">
          <img src="<%= link %>/uploads/assets/NewSet/valves/1.png" />
        </div>
        <div class="col-9 col-md-5 rounded">
          <img src="<%= link %>/uploads/assets/NewSet/valves/3.png" />
        </div>
        <div class="col-9 col-md-5 rounded">
          <img src="<%= link %>/uploads/assets/NewSet/valves/2.png" />
        </div>
      </div>
    </section> -->

      <section style="padding: 0">
        <div class="row">
          <div class="col-md-8 bg-primary px-4 p-4 text-white" data-aos="fade-in" data-aos-delay="200">
            <div class="m-4" data-aos="fade-right" data-aos-delay="200">
              <h3 style="font-size: 4rem">
                <%= section1.headingLeft %>
              </h3>
              <p class="mt-4">
                <%- section1.subHeadingLeft %>
              </p>
            </div>
          </div>
          <div class="col-md-4 bg-blue-light text-center d-flex align-items-center" data-aos="fade-in"
            data-aos-delay="200">
            <div data-aos="fade-left" data-aos-delay="200">
              <p style="font-size: 3.7rem" class="fw-bolder font-style-primary">
                <%= section1.headingRight %>
              </p>
              <p class="text-capitalize">
                <%= section1.subHeadingRight %>
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="about-us" style="padding-top: 40px">
        <div class="container">
          <div class="row g-4">
            <div class="col-md-5 pt-4" data-aos="fade-right" data-aos-delay="200">
              <img src="<%= link %>/<%= section2.image %>" alt="About Us Image" class="img-fluid rounded" />
            </div>
            <div class="col-md-7 d-flex align-items-center" data-aos="fade-left" data-aos-delay="200">
              <div>
                <h3 class="text-primary fw-bold mb-3 underline-alt fs-1 ls-1">
                  <%- section2.heading %>
                    <!-- <span
                class="underline position-absolute start-0 text-black-50"
              ></span> -->
                </h3>
                <p class="pt-4">
                  <%- section2.subHeading %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="container" style="padding-top: 0">
        <div class="row g-4">
          <% valves.forEach((items)=> { %>
            <div class="col-md-3" data-aos="fade-right" data-aos-delay="200">
              <p>
                <span class="fw-bold">
                  <%= items.heading %>
                </span> <br />
                <span>Versions:</span>
              </p>
              <ul class="custom-list">
                <% items.points.forEach((item)=> { %>
                  <li class="align-items-center">
                    <img src="<%= link %>/uploads/assets/NewSet/circle-valve.png" width="25px" class="me-4" />
                    <%= item %>
                  </li>
                  <% }); %>
              </ul>
            </div>
            <% }); %>

        </div>
      </section>

      <%- include('partials/footer') %>

        <div id="preloader"></div>

        <!-- Vendor JS Files -->
        <script>
          // Auto-scroll the row every 2 seconds
          const scrollableRow = document.getElementById("scrollableRow");
          let scrollSpeed = 1; // Scroll speed in px per interval
          let scrollInterval;

          function autoScroll() {
            scrollInterval = setInterval(function () {
              scrollableRow.scrollLeft += scrollSpeed; // Scroll horizontally
            }, 50); // Every 30 milliseconds
          }

          function stopAutoScroll() {
            clearInterval(scrollInterval); // Stop auto-scrolling
          }

          // Implement drag-to-scroll functionality
          // let isDragging = false;
          // let startX, scrollLeft;

          // scrollableRow.addEventListener("mousedown", (e) => {
          //   isDragging = true;
          //   startX = e.pageX - scrollableRow.offsetLeft;
          //   scrollLeft = scrollableRow.scrollLeft;
          //   scrollableRow.style.cursor = "grabbing"; // Change cursor on drag start
          //   stopAutoScroll(); // Stop auto-scrolling when dragging
          // });

          // scrollableRow.addEventListener("mouseleave", () => {
          //   isDragging = false;
          //   scrollableRow.style.cursor = "grab";
          // });

          // scrollableRow.addEventListener("mouseup", () => {
          //   isDragging = false;
          //   scrollableRow.style.cursor = "grab";
          // });

          // scrollableRow.addEventListener("mousemove", (e) => {
          //   if (!isDragging) return;
          //   const x = e.pageX - scrollableRow.offsetLeft;
          //   const walk = (x - startX) * 2; // Multiply for faster scrolling
          //   scrollableRow.scrollLeft = scrollLeft - walk;
          // });

          // Start the auto-scrolling when the page loads
          window.onload = autoScroll;
        </script>
        <script src="<%= link %>/uploads/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/aos/aos.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="<%= link %>/uploads/assets/vendor/php-email-form/validate.js"></script>

        <!-- Template Main JS File -->
        <script src="<%= link %>/uploads/assets/js/main.js"></script>
  </body>

</html>